<main>
    
    <section>
        <div id="jitsi-iframe"></div>
        <div class="item-center">
            <span>Controles de llamada</span>
        </div>
        <div class="item-center">
            <span>&nbsp;&nbsp;</span>
            <i (click)="executeCommand('toggleAudio')" class="fas fa-2x grey-color" [ngClass]="isAudioMuted ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true" title="Mute / Unmute"></i>
            <i (click)="executeCommand('hangup')" class="fas fa-phone-slash fa-2x red-color" aria-hidden="true" title="Leave"></i>
            <i (click)="executeCommand('toggleVideo')" class="fas fa-2x grey-color" [ngClass]="isVideoMuted ? 'fa-video-slash' : 'fa-video'" aria-hidden="true" title="Start / Stop camera"></i>
            <i (click)="executeCommand('toggleShareScreen')" class="fas fa-film fa-2x grey-color" aria-hidden="true" title="Share your screen"></i>
        </div>
    </section>
    <aside>
        <form action="/action_page.php">
            <label for="fname">Nombre Paciente:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Apellido Paciente:</label><br>
            <input type="text" id="lname" name="lname" value="Castillo"><br><br>
            <label for="cars">Sintomas:</label>
            <select id="cars" name="cars">
            <option value="Diarrea">Diarrea</option>
            <option value="Vómitos">Vómitos</option>
            <option value="Sangrado">Sangrado</option>
            <option value="Fiebre">Fiebre</option>
            </select><br>
            <label for="cars">Enfermedad:</label>
            <select id="cars" name="cars">
                <option value="Cancer">Cancer</option>
                <option value="Diabetes">Diabetes</option>
                <option value="Demencia">Demencia</option>
                <option value="Cardíaco">Cardíaco</option>
            </select><br>
            <textarea name="Detalle" rows="5" cols="30">Detallar lo mejor posible.
            </textarea><br>
            <input type="button" value="Borrar">
            <input type="button" value="Enviar">
            
          </form> 
    </aside>
</main>



